.userDetails {
    width: 100%;
    padding-top: 20px;
    display: flex;
    padding-left: 10px;
    gap: 20px;
    flex-direction: row;
}
.userImg {
    height: 60px;
    background-color: #D9D9D9;
    border-radius: 10px;
    padding: 10px;
    align-items: center;
    display: flex;
}
.anticon svg {
    height: 30px;
    width: 30px;
    font-size: 30px;
}
.userTxt h3 {
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 0px;
    padding: 0px;
}
.userTxt p{
    font-size: 15px;
}
.profileImg {
    height: 30px;
    width: 30px;
}